# BioDiversity Project

# Data Cleaning Steps

Step 1: Eliminate Repeats in Observations (df_obs)
group by scientific_name, and park name, take the median value


Step 2: Clean up common names
Use regex to 
Or take the common names with the longer category

# 1) SetUp

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df_obs = pd.read_csv("/Users/drewpeterson/Documents/Programming/Python/CodeCademy/biodiversity_starter/observations.csv")

In [5]:
df_species = pd.read_csv("/Users/drewpeterson/Documents/Programming/Python/CodeCademy/biodiversity_starter/species_info.csv")

# 2) Exploration

## Species Data

In [6]:
# Glance at Data
df_species.head(3)

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN

In [7]:
df_species.conservation_status.isna().sum()

5633

In [9]:
df_species.scientific_name.nunique()

5541

In [10]:
df_species.conservation_status.value_counts(dropna=False)

conservation_status
NaN                   5633
Species of Concern     161
Endangered              16
Threatened              10
In Recovery              4
Name: count, dtype: int64

In [12]:
# Summary of Data
    # 23,000 rows
    # 880 rows that have a conservation status
    # 4 parks

df_species.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   category             5824 non-null   object
 1   scientific_name      5824 non-null   object
 2   common_names         5824 non-null   object
 3   conservation_status  191 non-null    object
dtypes: object(4)
memory usage: 182.1+ KB

In [14]:
# Observations Data

In [15]:
# Numercial Data
    # Observations: Mean 142, Median 124, Min 9, Max 321
df_obs.describe()

       observations
count  23296.000000
mean     142.287904
std       69.890532
min        9.000000
25%       86.000000
50%      124.000000
75%      195.000000
max      321.000000

In [16]:
# Categorical Data 
    # DUPLICATES: Scientific Name and Park Name 
     # Some Scientific Names are repeated as many as 12 times, all repeated at least 4
df_obs.scientific_name.value_counts()

scientific_name
Myotis lucifugus                        12
Puma concolor                           12
Hypochaeris radicata                    12
Holcus lanatus                          12
Streptopelia decaocto                   12
                                        ..
Packera dimorphophylla var. paysonii     4
Smilax bona-nox                          4
Chondestes grammacus                     4
Leymus triticoides                       4
Dichanthelium depauperatum               4
Name: count, Length: 5541, dtype: int64

In [17]:
df_obs.scientific_name.nunique()

5541

### Flagging Duplicates

1096 Rows where there are duplicated "scientific_name" & "park_name"

In [81]:
df_grouped = (df.groupby(["scientific_name", "park_name"]).common_names.count() > 1)

In [78]:
(df.groupby(["scientific_name", "park_name"]).common_names.count() > 1).reset_index

<bound method Series.reset_index of scientific_name                      park_name
Abies bifolia                        Bryce National Park                    False
                                     Great Smoky Mountains National Park    False
                                     Yellowstone National Park              False
                                     Yosemite National Park                 False
Abies concolor                       Bryce National Park                    False
                                                                            ...
Zygodon viridissimus                 Yosemite National Park                 False
Zygodon viridissimus var. rupestris  Bryce National Park                    False
                                     Great Smoky Mountains National Park    False
                                     Yellowstone National Park              False
                                     Yosemite National Park                 False
Name: common_names, Length: 22164, dtype: bool>

In [82]:
df_group = pd.DataFrame(df_grouped)

In [85]:
df_group[df_group.common_names == True].index

MultiIndex([('Agrostis capillaris',                 'Bryce National Park'),
            ('Agrostis capillaris', 'Great Smoky Mountains National Park'),
            ('Agrostis capillaris',           'Yellowstone National Park'),
            ('Agrostis capillaris',              'Yosemite National Park'),
            (  'Agrostis gigantea',                 'Bryce National Park'),
            (  'Agrostis gigantea', 'Great Smoky Mountains National Park'),
            (  'Agrostis gigantea',           'Yellowstone National Park'),
            (  'Agrostis gigantea',              'Yosemite National Park'),
            ( 'Agrostis mertensii',                 'Bryce National Park'),
            ( 'Agrostis mertensii', 'Great Smoky Mountains National Park'),
            ...
            (      'Vulpia myuros',           'Yellowstone National Park'),
            (      'Vulpia myuros',              'Yosemite National Park'),
            (   'Vulpia octoflora',                 'Bryce National Park'),
            (   'Vulpia octoflora', 'Great Smoky Mountains National Park'),
            (   'Vulpia octoflora',           'Yellowstone National Park'),
            (   'Vulpia octoflora',              'Yosemite National Park'),
            (       'Zizia aptera',                 'Bryce National Park'),
            (       'Zizia aptera', 'Great Smoky Mountains National Park'),
            (       'Zizia aptera',           'Yellowstone National Park'),
            (       'Zizia aptera',              'Yosemite National Park')],
           names=['scientific_name', 'park_name'], length=1096)

In [86]:
df[df.scientific_name == "Zizia aptera"]

,scientific_name,park_name,observations,category,common_names,conservation_status
20208,Zizia aptera,Yellowstone National Park,257,Vascular Plant,Golden Alexanders,NaN
20209,Zizia aptera,Yellowstone National Park,257,Vascular Plant,"Heartleaf Alexanders, Heart-Leaf Alexanders, M...",NaN
20210,Zizia aptera,Great Smoky Mountains National Park,105,Vascular Plant,Golden Alexanders,NaN
20211,Zizia aptera,Great Smoky Mountains National Park,105,Vascular Plant,"Heartleaf Alexanders, Heart-Leaf Alexanders, M...",NaN
20212,Zizia aptera,Yosemite National Park,123,Vascular Plant,Golden Alexanders,NaN
20213,Zizia aptera,Yosemite National Park,123,Vascular Plant,"Heartleaf Alexanders, Heart-Leaf Alexanders, M...",NaN
20214,Zizia aptera,Bryce National Park,105,Vascular Plant,Golden Alexanders,NaN
20215,Zizia aptera,Bryce National Park,105,Vascular Plant,"Heartleaf Alexanders, Heart-Leaf Alexanders, M...",NaN
20216,Zizia aptera,Great Smoky Mountains National Park,41,Vascular Plant,Golden Alexanders,NaN
20217,Zizia aptera,Great Smoky Mountains National Park,41,Vascular Plant,"Heartleaf Alexanders, Heart-Leaf Alexanders, M...",NaN
20218,Zizia aptera,Bryce National Park,112,Vascular Plant,Golden Alexanders,NaN
20219,Zizia aptera,Bryce National Park,112,Vascular Plant,"Heartleaf Alexanders, Heart-Leaf Alexanders, M...",NaN
20220,Zizia aptera,Yosemite National Park,129,Vascular Plant,Golden Alexanders,NaN
20221,Zizia aptera,Yosemite National Park,129,Vascular Plant,"Heartleaf Alexanders, Heart-Leaf Alexanders, M...",NaN
20222,Zizia aptera,Yellowstone National Park,269,Vascular Plant,Golden Alexanders,NaN
20223,Zizia aptera,Yellowstone National Park,269,Vascular Plant,"Heartleaf Alexanders, Heart-Leaf Alexanders, M...",NaN

In [59]:
df[(df.groupby(["scientific_name", "park_name"]).common_names.count() > 1) == True]

/var/folders/75/8cznfb4d2j56mrdwqyh36s3w0000gn/T/ipykernel_11976/95369780.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[(df.groupby(["scientific_name", "park_name"]).common_names.count() > 1) == True]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [22]:
df_obs[(df_obs.scientific_name == "Myotis lucifugus") & (df_obs.park_name == "Great Smoky Mountains National Park")]

        scientific_name                            park_name  observations
1603   Myotis lucifugus  Great Smoky Mountains National Park            57
8308   Myotis lucifugus  Great Smoky Mountains National Park            59
11395  Myotis lucifugus  Great Smoky Mountains National Park            58

Observations of same species in same park may have multiple values (57, 58, 59)

###

In [88]:
# Categorical Park Names
    # Four Parks Represented Equally (Smoky Mountains, Bryce, Yellowstone, Yosemite)
df.park_name.value_counts(dropna=False)

park_name
Great Smoky Mountains National Park    6408
Yosemite National Park                 6408
Yellowstone National Park              6408
Bryce National Park                    6408
Name: count, dtype: int64

In [89]:
df.category.value_counts(dropna=False)

category
Vascular Plant       19560
Bird                  2364
Nonvascular Plant     1332
Mammal                1200
Fish                   524
Amphibian              328
Reptile                324
Name: count, dtype: int64

### Potential Opportunity to use Regex 

Some common_names include a duplicate name, with more names specified

In [90]:
df.common_names

0        Purple Vetch, Reddish Tufted Vetch
1        Purple Vetch, Reddish Tufted Vetch
2        Purple Vetch, Reddish Tufted Vetch
3        Purple Vetch, Reddish Tufted Vetch
4                             American Mink
                        ...
25627                             Wolverine
25628        Green Panic-Grass, Panic Grass
25629        Green Panic-Grass, Panic Grass
25630        Green Panic-Grass, Panic Grass
25631        Green Panic-Grass, Panic Grass
Name: common_names, Length: 25632, dtype: object

In [91]:
df.scientific_name

0                Vicia benghalensis
1                Vicia benghalensis
2                Vicia benghalensis
3                Vicia benghalensis
4                    Neovison vison
                    ...
25627                     Gulo gulo
25628    Dichanthelium depauperatum
25629    Dichanthelium depauperatum
25630    Dichanthelium depauperatum
25631    Dichanthelium depauperatum
Name: scientific_name, Length: 25632, dtype: object

## Group by Endangered 

Count the species from each category

## Species Info Data

In [26]:
df_species.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

In [27]:
df_species.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   category             5824 non-null   object
 1   scientific_name      5824 non-null   object
 2   common_names         5824 non-null   object
 3   conservation_status  191 non-null    object
dtypes: object(4)
memory usage: 182.1+ KB

In [32]:
df_species.scientific_name.nunique()

5541

In [95]:
df.tail(50)

,scientific_name,park_name,observations,category,common_names,conservation_status
25582,Croton glandulosus var. septentrionalis,Yosemite National Park,172,Vascular Plant,Vente Conmigo,NaN
25583,Croton glandulosus var. septentrionalis,Yellowstone National Park,264,Vascular Plant,Vente Conmigo,NaN
25584,Desmodium pauciflorum,Great Smoky Mountains National Park,76,Vascular Plant,"Fewflower Tick-Trefoil, Leafy Tick-Trefoil",NaN
25585,Desmodium pauciflorum,Bryce National Park,101,Vascular Plant,"Fewflower Tick-Trefoil, Leafy Tick-Trefoil",NaN
25586,Desmodium pauciflorum,Yellowstone National Park,219,Vascular Plant,"Fewflower Tick-Trefoil, Leafy Tick-Trefoil",NaN
25587,Desmodium pauciflorum,Yosemite National Park,152,Vascular Plant,"Fewflower Tick-Trefoil, Leafy Tick-Trefoil",NaN
25588,Ranunculus alismifolius var. hartwegii,Great Smoky Mountains National Park,100,Vascular Plant,Plantainleaf Buttercup,NaN
25589,Ranunculus alismifolius var. hartwegii,Yellowstone National Park,239,Vascular Plant,Plantainleaf Buttercup,NaN
25590,Ranunculus alismifolius var. hartwegii,Bryce National Park,95,Vascular Plant,Plantainleaf Buttercup,NaN
25591,Ranunculus alismifolius var. hartwegii,Yosemite National Park,150,Vascular Plant,Plantainleaf Buttercup,NaN
25592,Symphyotrichum boreale,Great Smoky Mountains National Park,79,Vascular Plant,Northern Bog Aster,NaN
25593,Symphyotrichum boreale,Bryce National Park,66,Vascular Plant,Northern Bog Aster,NaN
25594,Symphyotrichum boreale,Yosemite National Park,139,Vascular Plant,Northern Bog Aster,NaN
25595,Symphyotrichum boreale,Yellowstone National Park,220,Vascular Plant,Northern Bog Aster,NaN
25596,Aconitum uncinatum,Yosemite National Park,142,Vascular Plant,"Monk's Hood, Blue Monkshood",NaN
25597,Aconitum uncinatum,Great Smoky Mountains National Park,77,Vascular Plant,"Monk's Hood, Blue Monkshood",NaN
25598,Aconitum uncinatum,Bryce National Park,115,Vascular Plant,"Monk's Hood, Blue Monkshood",NaN
25599,Aconitum uncinatum,Yellowstone National Park,248,Vascular Plant,"Monk's Hood, Blue Monkshood",NaN
25600,Stachys albens,Yosemite National Park,129,Vascular Plant,"White Hedgenettle, Whitestem Hedgenettle",NaN
25601,Stachys albens,Yellowstone National Park,253,Vascular Plant,"White Hedgenettle, Whitestem Hedgenettle",NaN
25602,Stachys albens,Great Smoky Mountains National Park,71,Vascular Plant,"White Hedgenettle, Whitestem Hedgenettle",NaN
25603,Stachys albens,Bryce National Park,61,Vascular Plant,"White Hedgenettle, Whitestem Hedgenettle",NaN
25604,Sium suave,Great Smoky Mountains National Park,40,Vascular Plant,"Common Waterparsnip, Hemlock Waterparsnip, Hem...",Species of Concern
25605,Sium suave,Bryce National Park,117,Vascular Plant,"Common Waterparsnip, Hemlock Waterparsnip, Hem...",Species of Concern
25606,Sium suave,Yellowstone National Park,211,Vascular Plant,"Common Waterparsnip, Hemlock Waterparsnip, Hem...",Species of Concern
25607,Sium suave,Yosemite National Park,154,Vascular Plant,"Common Waterparsnip, Hemlock Waterparsnip, Hem...",Species of Concern
25608,Claytonia nevadensis,Yosemite National Park,182,Vascular Plant,Sierra Springbeauty,NaN
25609,Claytonia nevadensis,Bryce National Park,52,Vascular Plant,Sierra Springbeauty,NaN
25610,Claytonia nevadensis,Great Smoky Mountains National Park,39,Vascular Plant,Sierra Springbeauty,NaN
25611,Claytonia nevadensis,Yellowstone National Park,249,Vascular Plant,Sierra Springbeauty,NaN
25612,Listera borealis,Yosemite National Park,149,Vascular Plant,"Northern Listera, Northern Twayblade",NaN
25613,Listera borealis,Great Smoky Mountains National Park,94,Vascular Plant,"Northern Listera, Northern Twayblade",NaN
25614,Listera borealis,Yellowstone National Park,282,Vascular Plant,"Northern Listera, Northern Twayblade",NaN
25615,Listera borealis,Bryce National Park,80,Vascular Plant,"Northern Listera, Northern Twayblade",NaN
25616,Trifolium gracilentum var. gracilentum,Great Smoky Mountains National Park,57,Vascular Plant,Pinpoint Clover,NaN
25617,Trifolium gracilentum var. gracilentum,Yosemite National Park,188,Vascular Plant,Pinpoint Clover,NaN
25618,Trifolium gracilentum var. gracilentum,Yellowstone National Park,259,Vascular Plant,Pinpoint Clover,NaN
25619,Trifolium gracilentum var. gracilentum,Bryce National Park,50,Vascular Plant,Pinpoint Clover,NaN
25620,Ranunculus hebecarpus,Great Smoky Mountains National Park,80,Vascular Plant,"Delicate Buttercup, Downy-Fruit Buttercup",NaN
25621,Ranunculus hebecarpus,Yosemite National Park,168,Vascular Plant,"Delicate Buttercup, Downy-Fruit Buttercup",NaN
25622,Ranunculus hebecarpus,Bryce National Park,108,Vascular Plant,"Delicate Buttercup, Downy-Fruit Buttercup",NaN
25623,Ranunculus hebecarpus,Yellowstone National Park,270,Vascular Plant,"Delicate Buttercup, Downy-Fruit Buttercup",NaN
25624,Gulo gulo,Great Smoky Mountains National Park,90,Mammal,Wolverine,NaN
25625,Gulo gulo,Bryce National Park,114,Mammal,Wolverine,NaN
25626,Gulo gulo,Yellowstone National Park,270,Mammal,Wolverine,NaN
25627,Gulo gulo,Yosemite National Park,157,Mammal,Wolverine,NaN
25628,Dichanthelium depauperatum,Great Smoky Mountains National Park,88,Vascular Plant,"Green Panic-Grass, Panic Grass",NaN
25629,Dichanthelium depauperatum,Bryce National Park,80,Vascular Plant,"Green Panic-Grass, Panic Grass",NaN
25630,Dichanthelium depauperatum,Yellowstone National Park,255,Vascular Plant,"Green Panic-Grass, Panic Grass",NaN
25631,Dichanthelium depauperatum,Yosemite National Park,162,Vascular Plant,"Green Panic-Grass, Panic Grass",NaN

df.scientific_name.nunique()

# Cleaning Observation Data

In [98]:
df_obs

,scientific_name,park_name,observations
0,Vicia benghalensis,Great Smoky Mountains National Park,68
1,Neovison vison,Great Smoky Mountains National Park,77
2,Prunus subcordata,Yosemite National Park,138
3,Abutilon theophrasti,Bryce National Park,84
4,Githopsis specularioides,Great Smoky Mountains National Park,85
...,...,...,...
23291,Croton monanthogynus,Yosemite National Park,173
23292,Otospermophilus beecheyi,Bryce National Park,130
23293,Heterotheca sessiliflora ssp. echioides,Bryce National Park,140
23294,Dicranella rufescens,Yosemite National Park,171
23295,Cucurbita pepo,Yosemite National Park,164

In [104]:
round(df_obs.groupby(["scientific_name", "park_name"]).observations.median())

scientific_name                      park_name
Abies bifolia                        Bryce National Park                    109.0
                                     Great Smoky Mountains National Park     72.0
                                     Yellowstone National Park              215.0
                                     Yosemite National Park                 136.0
Abies concolor                       Bryce National Park                     83.0
                                                                            ...
Zygodon viridissimus                 Yosemite National Park                 159.0
Zygodon viridissimus var. rupestris  Bryce National Park                    102.0
                                     Great Smoky Mountains National Park    102.0
                                     Yellowstone National Park              237.0
                                     Yosemite National Park                 210.0
Name: observations, Length: 22164, dtype: float64

In [ ]:
df_obs.observations.transform(lambda x: round(df_obs.groupby(["scientific_name", "park_name"]).observations.median()))

In [ ]:
df

In [113]:
test_array = df_obs.groupby(["scientific_name", "park_name"]).observations.transform(lambda x: round(x.median()))

In [107]:
df.observations = df.groupby(["scientific_name", "park_name"]).observations.transform(lambda x: round(x.median()))

0         68
1        148
2        247
3        104
4         77
        ...
25627    157
25628     88
25629     80
25630    255
25631    162
Name: observations, Length: 25632, dtype: int64

In [115]:
df_obs.observations

0         68
1         77
2        138
3         84
4         85
        ...
23291    173
23292    130
23293    140
23294    171
23295    164
Name: observations, Length: 23296, dtype: int64

In [114]:
test_array

0         68
1         77
2        138
3         84
4         85
        ...
23291    173
23292    130
23293    140
23294    171
23295    164
Name: observations, Length: 23296, dtype: int64

In [112]:
(df_obs.groupby(["scientific_name", "park_name"]).observations.count() > 1).sum()

1096

In [119]:
df_obs.duplicated().sum()

15

In [120]:
df_obs.observations = df_obs.groupby(["scientific_name", "park_name"]).observations.transform(lambda x: round(x.median()))

In [122]:
df_obs.shape

(23296, 3)

In [123]:
df_obs.drop_duplicates(inplace=True)

In [133]:
# Now no combination of Scientific Name and Park Name are observed multuple times 
# Each scientific name and park name occur one time
(df_obs.groupby(["scientific_name", "park_name"]).observations.count() > 1).sum()

0

In [125]:
df_obs.duplicated().sum()

0

Now each species has 1 observation per park 
(if previously multiple, filled in with the median of the multiple entries)

In [138]:
df_obs.groupby("scientific_name").observations.count()

scientific_name
Abies bifolia                          4
Abies concolor                         4
Abies fraseri                          4
Abietinella abietina                   4
Abronia ammophila                      4
                                      ..
Zonotrichia leucophrys gambelii        4
Zonotrichia leucophrys oriantha        4
Zonotrichia querula                    4
Zygodon viridissimus                   4
Zygodon viridissimus var. rupestris    4
Name: observations, Length: 5541, dtype: int64

In [139]:
df_obs.groupby("park_name").observations.count()

park_name
Bryce National Park                    5541
Great Smoky Mountains National Park    5541
Yellowstone National Park              5541
Yosemite National Park                 5541
Name: observations, dtype: int64

In [143]:
df_obs.groupby("scientific_name").observations.count()

scientific_name
Abies bifolia                          4
Abies concolor                         4
Abies fraseri                          4
Abietinella abietina                   4
Abronia ammophila                      4
                                      ..
Zonotrichia leucophrys gambelii        4
Zonotrichia leucophrys oriantha        4
Zonotrichia querula                    4
Zygodon viridissimus                   4
Zygodon viridissimus var. rupestris    4
Name: observations, Length: 5541, dtype: int64

5541 different species 

Same amount in Observations and Species Dataframes

In [132]:
df_obs[df_obs.scientific_name.str.contains('Zygodon')]

,scientific_name,park_name,observations
3649,Zygodon viridissimus,Great Smoky Mountains National Park,71
5015,Zygodon viridissimus,Yellowstone National Park,270
5539,Zygodon viridissimus,Yosemite National Park,159
6879,Zygodon viridissimus var. rupestris,Yellowstone National Park,237
12775,Zygodon viridissimus var. rupestris,Bryce National Park,102
16130,Zygodon viridissimus,Bryce National Park,100
16237,Zygodon viridissimus var. rupestris,Yosemite National Park,210
20040,Zygodon viridissimus var. rupestris,Great Smoky Mountains National Park,102

# Cleaning Species Data

NOTE Multiple Common names

In [140]:
df_species.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

In [144]:
(df_species.groupby(["scientific_name"]).category.count() > 1).sum()

274

In [148]:
(df_species.groupby(["scientific_name"]).common_names.count() > 1).sum()

274

274 Duplicated Scientific Names in Species

Common Names are source of duplicates

In [160]:
repeated_common_names = np.where(df_species.groupby(["scientific_name"]).common_names.count() > 1)

In [164]:
species_w_repeated_common_names = df_species.iloc[repeated_common_names].scientific_name
species_w_repeated_common_names

In [186]:
df_species[df_species.scientific_name.isin(species_w_repeated_common_names)].groupby(["scientific_name"]).common_names.count()

scientific_name
Aeronautes saxatalis                    1
Agastache urticifolia                   1
Agrostis oregonensis                    1
Allophyllum gilioides ssp. violaceum    1
Alnus rhombifolia                       1
                                       ..
Viola bakeri                            1
Viola porterana                         1
Vireo solitarius                        2
Whitneya dealbata                       1
Zigadenus venenosus var. gramineus      1
Name: common_names, Length: 274, dtype: int64

In [158]:
df_species[df_species.scientific_name == "Pandion haliaetus"]

     category    scientific_name            common_names conservation_status
104      Bird  Pandion haliaetus                  Osprey  Species of Concern
3081     Bird  Pandion haliaetus  Osprey, Western Osprey  Species of Concern

In [ ]:
df_species.common_names = df_species.groupby(["scientific_name"]).common_names.transform(lambda x: len(x).max()))

In [181]:
testing = df_species.groupby(["scientific_name"]).common_names.transform(lambda x: x)

In [183]:
testing.duplicated().sum()

320

In [184]:
testing.shape

(5824,)

In [185]:
5824 - 320

5504

In [188]:
df_species[df_species.scientific_name == "Viola bakeri"]

            category scientific_name    common_names conservation_status
5378  Vascular Plant    Viola bakeri  Baker's Violet                 NaN

In [193]:
pd.set_option("display.max_rows", 300)

In [206]:
#(pd.DataFrame(df_species[df_species.scientific_name.duplicated()].groupby("scientific_name")))

In [207]:
df_species[df_species.scientific_name == "Canis lupus"]

     category scientific_name     common_names conservation_status
8      Mammal     Canis lupus        Gray Wolf          Endangered
3020   Mammal     Canis lupus  Gray Wolf, Wolf         In Recovery
4448   Mammal     Canis lupus  Gray Wolf, Wolf          Endangered

## IMPORTANT CODE

Drop duplicated scienfitic names, where conservation status is not null

The only change is that common_names may not include as many, which is acceptable for this purpose. Does not give information about endangered specises

In [214]:
duplicated_not_endangered = df_species[df_species.scientific_name.duplicated() & (df_species.conservation_status.isnull())].index
df_species.drop(duplicated_not_endangered, inplace = True)

Check if all duplicated species have the same conservation status for all their rows

Note the species that have different conservation statuses
* Canis lupus (keep "Gray Wolf, Wolf", 	"Endangered")
* Oncorhynchus mykiss (threatened vs nan, keep threatened)

Remove Specific Rows

In [232]:
df_species.head(10)

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN
5,Mammal,Odocoileus virginianus,White-Tailed Deer,NaN
6,Mammal,Sus scrofa,"Feral Hog, Wild Pig",NaN
7,Mammal,Canis latrans,Coyote,Species of Concern
8,Mammal,Canis lupus,Gray Wolf,Endangered
9,Mammal,Canis rufus,Red Wolf,Endangered

# IMPORTANT CODE

In [236]:
# First 8 and 3020 correspond to Wolf and 560 corresponds to Oncorhynchus mykiss
df_species.drop([8,3020,560],inplace=True)

In [240]:
duplicated_endangered = df_species[df_species.scientific_name.duplicated()].index
df_species.drop(duplicated_endangered, inplace = True)

In [229]:
df_species[df_species.scientific_name == "Canis lupus"]

     category scientific_name     common_names conservation_status
8      Mammal     Canis lupus        Gray Wolf          Endangered
3020   Mammal     Canis lupus  Gray Wolf, Wolf         In Recovery
4448   Mammal     Canis lupus  Gray Wolf, Wolf          Endangered

In [234]:
df_species[df_species.scientific_name == "Oncorhynchus mykiss"]

     category      scientific_name   common_names conservation_status
560      Fish  Oncorhynchus mykiss  Rainbow Trout                 NaN
3283     Fish  Oncorhynchus mykiss  Rainbow Trout          Threatened

In [244]:
df_species.shape[0] * 4

22164

In [245]:
df_obs.shape

(22164, 3)

In [241]:
df_species[df_species.scientific_name.duplicated()]

Empty DataFrame
Columns: [category, scientific_name, common_names, conservation_status]
Index: []

In [239]:
df_species[df_species.scientific_name.duplicated()]

,category,scientific_name,common_names,conservation_status
3035,Mammal,Eptesicus fuscus,"Big Brown Bat, Big Brown Bat",Species of Concern
3037,Mammal,Lasionycteris noctivagans,"Silver-Haired Bat, Silver-Haired Bat",Species of Concern
3042,Mammal,Myotis lucifugus,"Little Brown Bat, Little Brown Myotis, Little ...",Species of Concern
3081,Bird,Pandion haliaetus,"Osprey, Western Osprey",Species of Concern
3150,Bird,Gavia immer,"Common Loon, Great Northern Diver, Great North...",Species of Concern
3185,Bird,Riparia riparia,"Bank Swallow, Sand Martin",Species of Concern
4457,Mammal,Taxidea taxus,Badger,Species of Concern
4465,Mammal,Myotis californicus,California Myotis,Species of Concern
4467,Mammal,Myotis lucifugus,Little Brown Myotis,Species of Concern
4564,Bird,Nycticorax nycticorax,Black-Crowned Night Heron,Species of Concern

In [215]:
df_species[df_species.scientific_name.duplicated()]

,category,scientific_name,common_names,conservation_status
3020,Mammal,Canis lupus,"Gray Wolf, Wolf",In Recovery
3035,Mammal,Eptesicus fuscus,"Big Brown Bat, Big Brown Bat",Species of Concern
3037,Mammal,Lasionycteris noctivagans,"Silver-Haired Bat, Silver-Haired Bat",Species of Concern
3042,Mammal,Myotis lucifugus,"Little Brown Bat, Little Brown Myotis, Little ...",Species of Concern
3081,Bird,Pandion haliaetus,"Osprey, Western Osprey",Species of Concern
3150,Bird,Gavia immer,"Common Loon, Great Northern Diver, Great North...",Species of Concern
3185,Bird,Riparia riparia,"Bank Swallow, Sand Martin",Species of Concern
3283,Fish,Oncorhynchus mykiss,Rainbow Trout,Threatened
4448,Mammal,Canis lupus,"Gray Wolf, Wolf",Endangered
4457,Mammal,Taxidea taxus,Badger,Species of Concern
4465,Mammal,Myotis californicus,California Myotis,Species of Concern
4467,Mammal,Myotis lucifugus,Little Brown Myotis,Species of Concern
4564,Bird,Nycticorax nycticorax,Black-Crowned Night Heron,Species of Concern

In [205]:
df_species[df_species.scientific_name.duplicated()]

,category,scientific_name,common_names,conservation_status
3017,Mammal,Cervus elaphus,Rocky Mountain Elk,NaN
3019,Mammal,Odocoileus virginianus,"White-Tailed Deer, White-Tailed Deer",NaN
3020,Mammal,Canis lupus,"Gray Wolf, Wolf",In Recovery
3022,Mammal,Puma concolor,"Cougar, Mountain Lion, Puma",NaN
3025,Mammal,Lutra canadensis,River Otter,NaN
3028,Mammal,Mustela vison,"American Mink, Mink",NaN
3030,Mammal,Procyon lotor,"Common Raccoon, Northern Raccoon, Raccoon",NaN
3031,Mammal,Ursus americanus,"American Black Bear, Black Bear",NaN
3035,Mammal,Eptesicus fuscus,"Big Brown Bat, Big Brown Bat",Species of Concern
3037,Mammal,Lasionycteris noctivagans,"Silver-Haired Bat, Silver-Haired Bat",Species of Concern
3038,Mammal,Lasiurus cinereus,"Hoary Bat, Hoary Bat",NaN
3042,Mammal,Myotis lucifugus,"Little Brown Bat, Little Brown Myotis, Little ...",Species of Concern
3050,Mammal,Castor canadensis,American Beaver,NaN
3056,Mammal,Ondatra zibethicus,"Common Muskrat, Muskbeaver, Muskrat",NaN
3057,Mammal,Peromyscus maniculatus,"Deer Mouse, North American Deermouse",NaN
3071,Mammal,Sorex cinereus,"Cinereus Shrew, Common Shrew, Masked Shrew",NaN
3072,Mammal,Sorex hoyi,"American Pygmy Shrew, Pygmy Shrew",NaN
3075,Mammal,Sorex palustris,"American Water Shrew, Northern Water Shrew, Wa...",NaN
3081,Bird,Pandion haliaetus,"Osprey, Western Osprey",Species of Concern
3088,Bird,Branta bernicla,"Brant, Brant Goose, Brent Goose",NaN
3091,Bird,Chen caerulescens,"Blue Goose, Snow Goose",NaN
3138,Bird,Columba livia,"Common Pigeon, Rock Dove, Rock Pigeon",NaN
3140,Bird,Streptopelia decaocto,"Eurasian Collared Dove, Eurasian Collared-Dove",NaN
3144,Bird,Alectoris chukar,"Chukar, Chukar Partridge",NaN
3150,Bird,Gavia immer,"Common Loon, Great Northern Diver, Great North...",Species of Concern
3169,Bird,Passerella iliaca,"Fox Sparrow, Red Fox Sparrow",NaN
3184,Bird,Petrochelidon pyrrhonota,"American Cliff Swallow, Cliff Swallow",NaN
3185,Bird,Riparia riparia,"Bank Swallow, Sand Martin",Species of Concern
3191,Bird,Dumetella carolinensis,"Gray Catbird, Grey Catbird",NaN
3192,Bird,Mimus polyglottos,Northern Mockingbird,NaN
3194,Bird,Anthus rubescens,American Pipit,NaN
3214,Bird,Polioptila caerulea,"Blue-Gray Gnatcatcher, Blue-Grey Gnatcatcher",NaN
3217,Bird,Sturnus vulgaris,"Common Starling, European Starling",NaN
3231,Bird,Vireo solitarius,Blue-Headed Vireo,NaN
3233,Bird,Butorides virescens,Green Heron,NaN
3252,Bird,Megascops asio,Eastern Screech-Owl,NaN
3267,Amphibian,Rana catesbeiana,"American Bullfrog, Bullfrog",NaN
3283,Fish,Oncorhynchus mykiss,Rainbow Trout,Threatened
3285,Fish,Salvelinus fontinalis,"Aurora Trout, Brook Trout, Charr, Coaster Broo...",NaN
3295,Vascular Plant,Lemna valdiviana,"Pale Duckweed, Valdivia Duckweed, Valdivia's D...",NaN
3298,Vascular Plant,Elodea nuttallii,Waterweed,NaN
3302,Vascular Plant,Potamogeton amplifolius,Largeleaf Pondweed,NaN
3303,Vascular Plant,Potamogeton epihydrus,Ribbonleaf Pondweed,NaN
3309,Vascular Plant,Potamogeton nodosus,"Longleaf Pondweed, Long-Leaf Pondweed",NaN
3328,Vascular Plant,Carum carvi,"Caraway, Wild Caraway",NaN
3330,Vascular Plant,Conium maculatum,"Cigue Maculee, Cigue Tachetee, Deadly Hemlock,...",NaN
3332,Vascular Plant,Daucus carota,"Bird's Nest, Queen Anne's Lace, Wild Carrot",NaN
3343,Vascular Plant,Pastinaca sativa,Wild Parsnip,NaN
3345,Vascular Plant,Sanicula marilandica,"Black Sanicle, Maryland Black-Snakeroot, Maryl...",NaN
3347,Vascular Plant,Zizia aptera,"Heartleaf Alexanders, Heart-Leaf Alexanders, M...",NaN
3354,Vascular Plant,Asparagus officinalis,"Asparagus, Garden Asparagus, Garden-Asparagus",NaN
3367,Vascular Plant,Corallorrhiza wisteriana,"Coralroot, Spring Coralroot",NaN
3386,Vascular Plant,Ambrosia artemisiifolia,"Annual Ragweed, Common Ragweed, Low Ragweed, R...",NaN
3405,Vascular Plant,Arctium minus,"Beggar's Button, Burdock, Common Burdock, Less...",NaN
3423,Vascular Plant,Bidens cernua,"Bur Marigold, Nodding Beggartick, Nodding Begg...",NaN
3425,Vascular Plant,Carduus acanthoides,"Plumeless Thistle, Spiny Plumeless Thistle, Sp...",NaN
3432,Vascular Plant,Cichorium intybus,"Blue Sailors, Chickory, Chicory, Coffeeweed, C...",NaN
3433,Vascular Plant,Cirsium arvense,Canada Thistle,NaN
3439,Vascular Plant,Conyza canadensis,"Canada Horseweed, Canadian Horseweed, Horsewee...",NaN
3466,Vascular Plant,Erigeron strigosus,"Daisy Fleabane, Prairie Fleabane, Rough Fleabane",NaN
3480,Vascular Plant,Helianthus annuus,"Annual Sunflower, Common Sunflower, Sunflower,...",NaN
3484,Vascular Plant,Hieracium caespitosum,"Meadow Hawkweed, Yellow Hawkweed",NaN
3488,Vascular Plant,Hypochaeris radicata,"Spotted Cats-Ear, Hairy Cats-Ear, Gosmore",NaN
3491,Vascular Plant,Lactuca biennis,"Tall Blue Lettuce, Wild Blue Lettuce",NaN
3492,Vascular Plant,Lactuca serriola,"China Lettuce, Prickly Lettuce, Wild Lettuce",NaN
3526,Vascular Plant,Solidago gigantea,Giant Goldenrod,NaN
3531,Vascular Plant,Sonchus asper,"Perennial Sowthistle, Prickly Sow Thistle, Pri...",NaN
3547,Vascular Plant,Tanacetum vulgare,"Common Tansy, Garden Tansy, Golden-Buttons, Tansy",NaN
3550,Vascular Plant,Taraxacum laevigatum,"Red-Seed Dandelion, Rock Dandelion",NaN
3551,Vascular Plant,Taraxacum officinale,"Blowball, Common Dandelion, Dandelion, Faceclock",NaN
3563,Vascular Plant,Tragopogon porrifolius,"Common Salsify, Goatsbeard, Purple Salsify, Sa...",NaN
3579,Vascular Plant,Cynoglossum officinale,"Common Houndstongue, Gypsyflower, Gypsy-Flower...",NaN
3604,Vascular Plant,Barbarea vulgaris,"Garden Yellow Rocket, Garden Yellowrocket, Win...",NaN
3608,Vascular Plant,Brassica rapa,"Bird's Rape, Birdsrape Mustard, Field Mustard,...",NaN
3611,Vascular Plant,Capsella bursa-pastoris,"Shepherdspurse, Shepherd's-Purse",NaN
3614,Vascular Plant,Cardamine pensylvanica,"Pennsylvania Bittercress, Quaker Bittercress",NaN
3636,Vascular Plant,Draba verna,"Spring Draba, Spring Whitlowgrass",NaN
3638,Vascular Plant,Erysimum cheiranthoides,"Treacle Wallflower, Wallflower Mustard, Wormse...",NaN
3641,Vascular Plant,Hesperis matronalis,"Dames Rocket, Dame's Rocket, Dames Violet, Mot...",NaN
3643,Vascular Plant,Lepidium campestre,"Cream-Anther Field Pepperwort, Field Pepperweed",NaN
3657,Vascular Plant,Rorippa palustris ssp. fernaldiana,"Bog Yellowcress, Fernald Yellowcress, Fernald'...",NaN
3666,Vascular Plant,Thlaspi arvense,"Fanweed, Field Pennycress, Frenchweed, Pennycr...",NaN
3669,Vascular Plant,Amaranthus albus,"Pigweed, Pigweed Amaranth, Prostrate Pigweed, ...",NaN
3671,Vascular Plant,Amaranthus retroflexus,"Careless Weed, Redroot Amaranth, Red-Root Amar...",NaN
3693,Vascular Plant,Arenaria serpyllifolia,Thymeleaf Sandwort,NaN
3696,Vascular Plant,Cerastium glomeratum,Sticky Chickweed,NaN
3697,Vascular Plant,Dianthus armeria,Deptford Pink,NaN
3698,Vascular Plant,Dianthus barbatus,Sweetwilliam,NaN
3707,Vascular Plant,Saponaria officinalis,"Bouncing Bet, Bouncingbet, Bouncingbet Soapwee...",NaN
3709,Vascular Plant,Silene antirrhina,"Catchfly, Sleepy Campion, Sleepy Catchfly, Sle...",NaN
3717,Vascular Plant,Silene vulgaris,"Bladder Campion, Bladder Silene, Cowbell, Maid...",NaN
3722,Vascular Plant,Stellaria longifolia,"Longleaf Chickweed, Longleaf Starwort, Long-Le...",NaN
3724,Vascular Plant,Stellaria media,"Chickweed, Common Chickweed, Nodding Chickweed",NaN
3751,Vascular Plant,Polygonum aviculare,"Prostrate Knotweed, Yard Knotweed",NaN
3753,Vascular Plant,Polygonum convolvulus,"Black Bindweed, Black-Bindweed, Climbing Buckw...",NaN
3755,Vascular Plant,Polygonum lapathifolium,"Curltop Ladysthumb, Curlytop Knotweed, Curlyto...",NaN
3758,Vascular Plant,Rumex acetosella,"Common Sheep Sorrel, Field Sorrel, Red Sorrel,...",NaN
3760,Vascular Plant,Rumex crispus,"Curly Dock, Narrowleaf Dock, Sour Dock, Yellow...",NaN
3763,Vascular Plant,Portulaca oleracea,"Akulikuli-Kula, Common Purslane, Duckweed, Gar...",NaN
3787,Vascular Plant,Dipsacus fullonum,"Common Teasel, Fuller's Teasel, Teasel, Venusc...",NaN
3793,Vascular Plant,Equisetum arvense,"Common Horsetail, Field Horsetail, Scouringrus...",NaN
3795,Vascular Plant,Equisetum hyemale var. affine,"Scouringrush Horsetail, Stout Scouringrush, Ta...",NaN
3804,Vascular Plant,Monotropa hypopithys,Pinesap,NaN
3855,Vascular Plant,Medicago lupulina,"Black Medic, Black Medic Clover, Black Medick,...",NaN
3856,Vascular Plant,Melilotus albus,"Bokhara-Clover, Honey-Clover, White Melilot, W...",NaN
3857,Vascular Plant,Melilotus officinalis,"Cornilla Real, Field Melilot, Ribbed Melilot, ...",NaN
3867,Vascular Plant,Trifolium aureum,Golden Clover,NaN
3868,Vascular Plant,Trifolium campestre,"Big Hop Clover, Field Clover, Large Hop Clover...",NaN
3869,Vascular Plant,Trifolium dubium,"Hop Clover, Smallhop Clover, Suckling Clover",NaN
3871,Vascular Plant,Trifolium repens,"Dutch Clover, Ladino Clover, White Clover, Whi...",NaN
3877,Vascular Plant,Apocynum androsaemifolium,"Bitterroot, Flytrap Dogbane, Spreading Dogbane",NaN
3878,Vascular Plant,Apocynum cannabinum,"Common Dogbane, Dogbane, Hemp Dogbane, Indian ...",NaN
3889,Vascular Plant,Galium triflorum,"Fragrant Bedstraw, Sweet Bedstraw, Sweetscente...",NaN
3892,Vascular Plant,Erodium cicutarium,"Alfilaree, Alfilaria, California Filaree, Cutl...",NaN
3904,Vascular Plant,Lamium amplexicaule,"Common Henbit, Giraffehead, Henbit, Henbit Dea...",NaN
3905,Vascular Plant,Lycopus americanus,"American Bugleweed, American Water Horehound, ...",NaN
3907,Vascular Plant,Lycopus uniflorus,"Bugleweed, Northern Bugleweed, Northern Water-...",NaN
3909,Vascular Plant,Nepeta cataria,"Catmint, Catnip, Catwort, Field Balm",NaN
3910,Vascular Plant,Prunella vulgaris,"Common Selfheal, Heal All, Healall, Selfheal",NaN
3945,Vascular Plant,Callitriche heterophylla,Differentleaf Waterstarwort,NaN
3951,Vascular Plant,Linaria vulgaris,"Butter And Eggs, Flaxweed, Greater Butter-And-...",NaN
3965,Vascular Plant,Plantago lanceolata,"Buckhorn Plantain, English Plantain, Lanceleaf...",NaN
3966,Vascular Plant,Plantago major,"Broadleaf Plantain, Buckhorn Plantain, Common ...",NaN
3969,Vascular Plant,Veronica arvensis,"Common Speedwell, Corn Speedwell, Rock Speedwe...",NaN
3975,Vascular Plant,Verbascum thapsus,"Big Taper, Common Mullein, Flannel Mullein, Fl...",NaN
3988,Vascular Plant,Lycopodium annotinum,"Clubmoss, Stiff Club Moss, Stiff Clubmoss",NaN
3994,Vascular Plant,Hypericum perforatum,"Common St. John's Wort, Common St. Johnswort, ...",NaN
4022,Vascular Plant,Viola arvensis,"European Field Pansy, Field Violet, Wild Pansy",NaN
4023,Vascular Plant,Viola canadensis,"Canada Violet, Canadian White Violet",NaN
4030,Vascular Plant,Malva neglecta,"Buttonweed, Cheeseplant, Cheeseweed, Common Ma...",NaN
4054,Vascular Plant,Botrychium simplex,"Least Moonwort, Little Grapefern",NaN
4055,Vascular Plant,Botrychium virginianum,"Common Grapefern, Rattlesnake Fern",NaN
4057,Vascular Plant,Oxalis dillenii,"Dillen's Oxalis, Slender Yellow Woodsorrel",NaN
4058,Vascular Plant,Oxalis violacea,"Purple Woodsorrel, Violet Woodsorrel, Violet W...",NaN
4095,Vascular Plant,Carex leptalea,"Bristlestalked Sedge, Bristly-Stalk Sedge, Bri...",NaN
4131,Vascular Plant,Dulichium arundinaceum,Threeway Sedge,NaN
4133,Vascular Plant,Eleocharis acicularis,"Needle Spikerush, Needle Spikesedge",NaN
4135,Vascular Plant,Eleocharis palustris,"Common Spikerush, Creeping Spikerush, Creeping...",NaN
4145,Vascular Plant,Scirpus cyperinus,"Bulrush, Woolgrass",NaN
4147,Vascular Plant,Juncus brevicaudatus,"Narrowpanicle Rush, Narrow-Panicle Rush",NaN
4152,Vascular Plant,Juncus dudleyi,"Dudley Rush, Dudley's Rush",NaN
4165,Vascular Plant,Luzula multiflora,"Common Woodrush, Common Wood-Rush",NaN
4178,Vascular Plant,Agrostis mertensii,"Arctic Bentgrass, Northern Bentgrass",NaN
4182,Vascular Plant,Agrostis stolonifera,"Carpet Bentgrass, Creeping Bent, Creeping Bent...",NaN
4194,Vascular Plant,Avena sativa,"Common Oat, Common Oats, Oat, Oatgrass (Common...",NaN
4201,Vascular Plant,Bromus japonicus,"Japanese Brome, Japanese Bromegrass, Japanese ...",NaN
4202,Vascular Plant,Bromus tectorum,"Cheat Grass, Cheatgrass, Downy Brome, Early Ch...",NaN
4204,Vascular Plant,Calamagrostis canadensis,"Bluejoint, Bluejoint Reedgrass",NaN
4209,Vascular Plant,Cinna latifolia,"Drooping Woodreed, Slender Wood-Reed",NaN
4210,Vascular Plant,Dactylis glomerata,"Cocksfoot, Orchard Grass, Orchardgrass",NaN
4213,Vascular Plant,Danthonia spicata,"Poverty Danthonia, Poverty Oatgrass, Poverty W...",NaN
4219,Vascular Plant,Echinochloa crus-galli,"Barnyard Grass, Barnyardgrass, Cockspur, Japan...",NaN
4234,Vascular Plant,Glyceria striata,"Fowl Manna Grass, Fowl Mannagrass",NaN
4236,Vascular Plant,Holcus lanatus,"Common Velvetgrass, Yorkshire-Fog",NaN
4239,Vascular Plant,Hordeum pusillum,"Little Barley, Little Wildbarley",NaN
4242,Vascular Plant,Lolium perenne,"Italian Ryegrass, Perennial Rye Grass, Perenni...",NaN
4255,Vascular Plant,Panicum capillare,"Annual Witchgrass, Common Panic Grass, Common ...",NaN
4256,Vascular Plant,Phalaris arundinacea,"Reed Canary Grass, Reed Canarygrass",NaN
4258,Vascular Plant,Phleum pratense,"Common Timothy, Timothy",NaN
4262,Vascular Plant,Poa annua,"Annual Blue Grass, Annual Bluegrass, Walkgrass",NaN
4265,Vascular Plant,Poa compressa,"Canada Bluegrass, Flat-Stem Blue Grass",NaN
4269,Vascular Plant,Poa palustris,"Fowl Blue Grass, Fowl Bluegrass",NaN
4270,Vascular Plant,Poa pratensis,Kentucky Bluegrass,NaN
4272,Vascular Plant,Poa trivialis,Rough Bluegrass,NaN
4280,Vascular Plant,Secale cereale,"Cereal Rye, Common Rye, Cultivated Annual Rye,...",NaN
4281,Vascular Plant,Setaria viridis,"Bottle Grass, Green Bristle Grass, Green Brist...",NaN
4289,Vascular Plant,Triticum aestivum,"Common Wheat, Wheat",NaN
4290,Vascular Plant,Vulpia octoflora,"Eight-Flower Six-Weeks Grass, Pullout Grass, S...",NaN
4295,Vascular Plant,Typha latifolia,"Broadleaf Cattail, Cattail, Common Cattail",NaN
4343,Vascular Plant,Ranunculus repens,Creeping Buttercup,NaN
4351,Vascular Plant,Trautvetteria caroliniensis,"Carolina Bugbane, Carolina Tassel-Rue, Falsebu...",NaN
4352,Vascular Plant,Cannabis sativa,"Grass, Hashish, Hemp, Marijuana, Mary Jane, Pot",NaN
4361,Vascular Plant,Fragaria vesca,Woodland Strawberry,NaN
4362,Vascular Plant,Fragaria virginiana,"Thickleaved Wild Strawberry, Virginia Strawber...",NaN
4368,Vascular Plant,Malus pumila,Paradise Apple,NaN
4372,Vascular Plant,Potentilla argentea,"Silver Cinquefoil, Silver-Leaf Cinquefoil",NaN
4382,Vascular Plant,Potentilla norvegica,Norwegian Cinquefoil,NaN
4385,Vascular Plant,Potentilla recta,"Erect Cinquefoil, Roughfruit Cinquefoil, Sulph...",NaN
4397,Vascular Plant,Parietaria pensylvanica,Pennsylvania Pellitory,NaN
4447,Mammal,Sus scrofa,"Pig, Pig (Feral), Wild Boar, Wild Boar",NaN
4448,Mammal,Canis lupus,"Gray Wolf, Wolf",Endangered
4449,Mammal,Urocyon cinereoargenteus,Gray Fox,NaN
4451,Mammal,Puma concolor,Mountain Lion,NaN
4452,Mammal,Spilogale putorius,Spotted Skunk,NaN
4453,Mammal,Martes americana,"American Marten, Marten",NaN
4454,Mammal,Mustela erminea,Ermine,NaN
4457,Mammal,Taxidea taxus,Badger,Species of Concern
4459,Mammal,Procyon lotor,Raccoon,NaN
4463,Mammal,Corynorhinus townsendii,Townsend's Big-Eared Bat,NaN
4465,Mammal,Myotis californicus,California Myotis,Species of Concern
4466,Mammal,Myotis ciliolabrum,Small-Footed Myotis,NaN
4467,Mammal,Myotis lucifugus,Little Brown Myotis,Species of Concern
4469,Mammal,Didelphis virginiana,Virginia Opossum,NaN
4473,Mammal,Ochotona princeps,Pika,NaN
4475,Mammal,Castor canadensis,Beaver,NaN
4477,Mammal,Microtus longicaudus,Long-Tailed Vole,NaN
4484,Mammal,Erethizon dorsatum,Porcupine,NaN
4496,Mammal,Tamias umbrinus,Inyo Chipmunk,NaN
4500,Mammal,Sorex monticolus,Montane Shrew,NaN
4513,Bird,Columba livia,Rock Pigeon,NaN
4514,Bird,Streptopelia decaocto,Eurasian Collared Dove,NaN
4519,Bird,Centrocercus urophasianus,Greater Sage-Grouse,NaN
4521,Bird,Gavia pacifica,Pacific Loon,NaN
4527,Bird,Pica hudsonia,Black-Billed Magpie,NaN
4538,Bird,Leucosticte tephrocotis,Gray-Crowned Rosy Finch,NaN
4542,Bird,Lanius excubitor,Northern Shrike,NaN
4557,Bird,Contopus sordidulus,Western Wood-Pewee,NaN
4559,Bird,Empidonax wrightii,Gray Flycatcher,NaN
4564,Bird,Nycticorax nycticorax,Black-Crowned Night Heron,Species of Concern
4567,Bird,Melanerpes lewis,Lewis's Woodpecker,NaN
4570,Bird,Podiceps nigricollis,Eared Grebe,NaN
4571,Bird,Glaucidium gnoma,Northern Pygmy Owl,NaN
4573,Bird,Strix nebulosa,Great Gray Owl,NaN
4575,Bird,Tyto alba,Barn Owl,NaN
4578,Reptile,Charina bottae,Northern Rubber Boa,NaN
4618,Vascular Plant,Lemna gibba,"Inflated Duckweed, Swollen Duckweed",NaN
4630,Vascular Plant,Heracleum lanatum,"Common Cowparsnip, Cow Parsnip",NaN
4683,Vascular Plant,Epipactis helleborine,Broadleaf Helleborine,NaN
4699,Vascular Plant,Anthemis cotula,"Chamomile, Dog Fennel, Dogfennel, Mayweed, May...",NaN
4723,Vascular Plant,Bidens tripartita,"Threelobe Beggarticks, Three-Lobe Beggarticks",NaN
4728,Vascular Plant,Centaurea cyanus,"Bachelor's Button, Cornflower, Garden Cornflower",NaN
4739,Vascular Plant,Cirsium scariosum,Meadow Thistle,NaN
4740,Vascular Plant,Cirsium vulgare,"Bull Thistle, Common Thistle, Spear Thistle",NaN
4742,Vascular Plant,Coreopsis lanceolata,Garden Coreopsis,NaN
4743,Vascular Plant,Crepis capillaris,"Smooth Hawksbeard, Smooth Hawk's-Beard",NaN
4751,Vascular Plant,Erigeron annuus,"Annual Fleabane, Eastern Daisy Fleabane",NaN
4799,Vascular Plant,Hypochaeris radicata,"Common Cat's-Ear, False Dandelion, Frogbit, Go...",NaN
4804,Vascular Plant,Leucanthemum vulgare,"Oxeye Daisy, Ox-Eye Daisy, Oxeyedaisy, Oxeye-D...",NaN
4825,Vascular Plant,Rudbeckia hirta var. pulcherrima,"Blackeyed Susan, Pinewoods Coneflower",NaN
4839,Vascular Plant,Soliva sessilis,"Field Burrweed, Field Soliva",NaN
4911,Vascular Plant,Arabidopsis thaliana,"Mouseear Cress, Mouse-Ear Cress",NaN
4945,Vascular Plant,Lunaria annua,Annual Honesty,NaN
4948,Vascular Plant,Rorippa nasturtium-aquaticum,Watercress,NaN
4950,Vascular Plant,Sisymbrium officinale,"Hairypod Hedgemustard, Hedge Mustard, Hedge Tu...",NaN
4971,Vascular Plant,Cerastium fontanum ssp. vulgare,"Big Chickweed, Common Mouse-Ear Chickweed",NaN
4988,Vascular Plant,Silene latifolia ssp. alba,"Bladder Campion, Bladder-Campion, Evening Lych...",NaN
4995,Vascular Plant,Drosera rotundifolia,Roundleaf Sundew,NaN
4996,Vascular Plant,Mollugo verticillata,"Carpetweed, Carpet-Weed, Green Carpetweed, Gre...",NaN
5032,Vascular Plant,Polygonum amphibium var. emersum,"Colored Smartweed, Devil's Shoestring, Longroo...",NaN
5037,Vascular Plant,Polygonum hydropiperoides,Swamp Smartweed,NaN
5038,Vascular Plant,Polygonum persicaria,"Ladysthumb, Lady's-Thumb, Ladysthumb Smartweed...",NaN
5127,Vascular Plant,Anagallis arvensis,"Pimpernel, Scarlet Pimpernel",NaN
5146,Vascular Plant,Lathyrus latifolius,"Everlasting Peavine, Everlasting-Pea, Perennia...",NaN
5209,Vascular Plant,Vinca major,"Bigleaf Periwinkle, Greater Periwinkle, Periwi...",NaN
5216,Vascular Plant,Galium aparine,"Bedstraw, Catchweed Bedstraw, Cleavers, Cleave...",NaN
5227,Vascular Plant,Geranium carolinianum,"Carolina Crane's-Bill, Carolina Geranium",NaN
5232,Vascular Plant,Glechoma hederacea,"Creeping Charlie, Gill-Over-The-Ground, Ground...",NaN
5234,Vascular Plant,Marrubium vulgare,"Horehound, White Horehound",NaN
5235,Vascular Plant,Mentha arvensis,"Field Mint, Wild Mint",NaN
5250,Vascular Plant,Utricularia intermedia,"Flatleaf Bladderwort, Flat-Leaf Bladderwort, M...",NaN
5251,Vascular Plant,Lindernia dubia,"Moistbank Pimpernel, Shortstalk Lindernia, Yel...",NaN
5252,Vascular Plant,Lindernia dubia var. anagallidea,"False Pimpernel, Yellowseed False Pimpernel, Y...",NaN
5275,Vascular Plant,Orobanche uniflora,"Naked Broomrape, Naked Broom-Rape, Oneflowered...",NaN
5310,Vascular Plant,Digitalis purpurea,Purple Foxglove,NaN
5312,Vascular Plant,Gratiola neglecta,"Clammy Hedgehyssop, Clammy Hedge-Hyssop, Drug ...",NaN
5325,Vascular Plant,Veronica anagallis-aquatica,"Blue Water Speedwell, Water Speedwell",NaN
5328,Vascular Plant,Veronica persica,"Bird-Eye Speedwell, Birdseye Speedwell, Persia...",NaN

In [192]:
5824 - 283

5541

Get rid of duplicates in scientific name

Choose the option with longest common_name or worst status of endangered

# Merge Cleaned Data

In [246]:
# Merge Data Together on Shared Column "scientific_name"
df = df_obs.merge(df_species, on="scientific_name")

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22164 entries, 0 to 22163
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scientific_name      22164 non-null  object
 1   park_name            22164 non-null  object
 2   observations         22164 non-null  int64
 3   category             22164 non-null  object
 4   common_names         22164 non-null  object
 5   conservation_status  716 non-null    object
dtypes: int64(1), object(5)
memory usage: 1.0+ MB

In [251]:
(df.groupby(by=["scientific_name", "park_name"]).category.count() > 1).sum()

0

# Clean Data!